.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #ff7e5f; 
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  
    background: linear-gradient(to right, #feb47b, #ff7e5f); 
    

    padding: 12px;
    margin: 10px;
    width: 120px;
  }
  
  .pokemon-image {
    width: 80px;
    height: 80px;
  }
  
  .pokemon-name {
    font-weight: bold;
    margin-top: 8px;
    color: black;
  }