.container-buscar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
  background-color: rgb(182, 43, 25);
}

.btn-buscar {
  background-color: red;
  color: black;
  border-radius: 10px;
  padding: 12px;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  font-size: 10px;
  transition: 0.4s;
  transform: scale(0.95);
  opacity: 0.9;
}

.input-buscar {
  background-color: aliceblue;
  border: 1px, solid #ddd;
  border-radius: 10px;
}
