.App {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-superior {
  background-color: yellow;
}

h1 {
  background-color: yellow;
}
