body {
  background-size: cover;
  background-image: url("https://w.forfun.com/fetch/7b/7b18be1395d99e3035b310dfc109cb40.jpeg");
}

.App {
  text-align: center;
}

h1 {
  margin-bottom: 0px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-superior {
  background-color: rgb(182, 43, 25);
}

.navbar {
  background-image: url("https://www.pngkey.com/png/full/222-2225077_pokemon-sun-and-moon-hopes-and-speculations-archive.png");
  background-repeat: no-repeat;
  height: 100px;
  background-color: rgb(32, 8, 97);
  background-size: contain;
}

.pokemon-name {
  font-family: "mi-fuente";
}

@font-face {
  font-family: ("mi-fuente");
  src: url("Heydex.ttf") format(truetype);
}
